* {
    margin: 0;
    font-size: 62.5%;
    list-style: none;
    text-decoration: none;
}

:root {
    --hue: 337;

    --background: linear-gradient(130deg, rgb(calc(var(--hue) - 240), 4, 97),70%, hsl(calc(var(--hue) - 170), 85%, 35%));
    --background-glass: hsla(calc(var(--hue) - 37), 6%, 93%, 0.1);
    --background-input: hsl(calc(var(--hue) + 285), 67%, 89%);

    --border: hsla(calc(var(--hue) - 337), 0%, 100%, 0.1);
    --box-shadow: .5rem .5rem 10rem 0 hsla(calc(var(--hue) - 7), 71%, 46%, 0.37);
    --color: hsl(var(--hue), 93%, 18%);
}

body {
    background: var(--background);
    font-size: 5rem;
}

.container {
    display: flex;
    justify-content: center;

    min-height: 100vh;
    width: 100vw;
}

.todo-list {
    backdrop-filter: blur(4px);
    background: var(--background-glass);
    border-radius: 1rem;

    box-shadow: var(--box-shadow);
    font-family: "Space Mono", monospace;

    -webkit-backdrop-filter: blur(4px);
}

.title {
    border-bottom: 2px solid var(--color);
    color: var(--color);
    font-family: "BioRhyme", serif;

    font-size: 2.5rem;
    padding-left: 1.5rem;
}

.form {
    display: flex;
    gap: 0.5rem;

    justify-content: space-between;
    margin: 1rem;
}

.form__input,
.form__button {
    border: 1px;
    border-radius: 0.5rem;

    font-size: 1.3rem;
    outline: none;
    padding: 1rem;
}

.form__input {
    background-color: var(--background-glass);
    border-color: var(--border);
    color: var(--color);
    width: calc(60% - 1rem);
}

.form__button {
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
    background-size: 200% auto;
    text-transform: uppercase;

    box-shadow: var(--box-shadow);
    color: var(--background-input);            
    cursor: pointer;

    display: block;
    transition: 0.5s;
    width: calc(40% - 2rem);
}

.form__button:hover {
    background-position: right center;
    color: var(--background-input);
    text-decoration: none;
}

.list {
    margin-inline: 1rem;
    padding: 0;
    width: calc(100% - 2rem);
}

.task {
    background: var(--background-glass);
    border-radius: 0.5rem;
    font-size: 2.5rem;
    
    color: var(--color);
    display: flex;
    font-weight: 700;
    
    gap: 0.5rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
}
  
.check-button,
.delete-button {
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    background-size: 200% auto;
    border: none;

    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    color: var(--background-input);

    cursor: pointer;
    display: block;
    font-size: 1rem;
    
    outline: none;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}

.check-button:hover {
    background-position: right center;
    color: var(--background-input);
    text-decoration: none;
}

.task.done .check-button {
    background-color: var(--background-glass);
    color: var(--background-input);
}

.task.done .content {
    text-decoration: line-through;
}

.form__date {
    background: var(--background-glass);
    border: none;
    border-radius: .5rem;
    
    color: var(--color);
    font-size: 1.5rem;
    outline: none;
}

.form__date:focus-visible {
    background: var(--background-glass);
}

.form__data {
    font-size: 1.3rem;
    color: var(--color);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 0) {
    .container {
        align-items: flex-start;
        margin: 4rem 0 0;
    }
    .todo-list {
        max-width: 90%;
        min-height: 65rem;
        min-width: 80%;

    }
    
    .form__date {
    max-width: 7rem;
    }
}

@media screen and (min-width: 480px) {
    .container {
        align-items: center;
        margin-top: 0;
    }
    
    .todo-list {
        max-width: 70vw;
        min-height: 30rem;
        min-width: 50rem;
    }

      
.form__date {
    max-width: 11rem;
}
    
}